import React, { ReactNode } from 'react';

type <%= componentName %>Props = {
  children: ReactNode
}

export const <%= componentName %> = ({ children }: <%= componentName %>Props) => {
  return(
    <div>
      {children}
    </div>
  )
}